.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.a {
  cursor: pointer;
}

.pro {
  border: 1px solid #ccc;
  min-height: 200px;
  box-shadow: 0px 0px 3px #999;
  cursor: pointer;
  word-wrap: break-word;
}
.page-header{
  margin-left:20px;
}
.user-details {
  background: #f2f2f2;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(242, 242, 242);
  height: 125px;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid #DCDADB;
}
.user-details.prj_details {
  border-top: 1px solid #DCDADB;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(220, 218, 219);
  margin-top: 5px;
}
.prj_details .user-image {
  height: 68px;
  margin-top: 30px;
  padding: 8px 10px;
  width: 88px;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}
.user-image {
  width: 500px;
  height: 500px;
}

.usr_rt {
  position: absolute;
  left: 180px;
  top: 30px;
}
.menu{
  height: 165px;
}